.container
    .jumbotron
        h1 scrapbox
        p a nest for communities of your making

    .row
        .col-md-6
            div(ng-include="'/partials/featured'")
        .col-md-6
            div(ng-include="'/partials/historical'")